---
import NavBarTab from "./NavBarTab.astro"
---

<div style={{ "width": "100%", "display": "flex", "justifyContent": "center" }}>
    <NavBarTab name={"首頁"} routePage={"/main"} />
    <NavBarTab name={"專案"} routePage={"/projects"} />
    <NavBarTab name={"網頁小遊戲"} routePage={"/web-games"} />
    <NavBarTab name={"個人資訊"} routePage={"/info"} />
</div>
